.wrap {
  display: flex;
}
/* column 15 */
.col-25 {
  width: 20%;
  height: 100%;
  margin-left: 0px;
}

.menu-title {
  display: flex;
}

.menu-title__icon {
  font-size: 2.6rem;
  margin: 18px 10px 5px 35px;
}

.menu-title__heading {
  font-size: 1.8rem;
  margin: 23px 0 5px 0;
}

.solid {
  border-bottom: 1px solid #dfdddd;
}

.menu-list {
  margin-top: 20px;
  font-size: 1.65rem;
}

.menu-item {
  padding-bottom: 25px;
}

.menu-item__link {
  color: black;
}

.menu-item__link:hover {
  font-size: 2rem;
  color: rgb(66, 66, 201);
  right: -4px;
  transition: 0.2s;
}

/* column 75 */
.col-75 {
  width: 80%;
  background-color: #f5f4f4;
}
.wrap-75 {
  height: 105%;
  position: relative;
  background-color: #f5f4f4;
  border: 1px solid #dfdddd;
}

/* heading */
.heading {
  background-color: white;
  height: 57.5px;
  display: flex;
  font-size: 1.8rem;
  border-left: 1px solid #f7f7f7;
}

.heading-icon {
  position: relative;
  margin-left: 80%;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 2rem;
  background-color: black;
  width: 33px;
  height: 33px;
  border-radius: 20px;
}

.icon-handle {
  position: absolute;
  color: white;
  top: 5px;
  left: 8px;
}

.container-heading {
  display: flex;
}

.container-heading__text {
  font-size: 2rem;
  margin: 24px 324px 0 109px;
}

.container-heading__input {
  height: 32px;
  margin-top: 18px;
  background-color: #d7cfc8;
  border: none;
}

.container-heading__input:focus {
  background-color: white;
}

.container-heading__search {
  color: white;
  background-color: #f53e2d;
  border-radius: 10px;
  width: 50px;
  margin-left: 5px;
}

.container-heading__search:hover {
  background-color: #ee594b;
}

/* table */
.container-table {
  width: 91%;
  padding: 3% 0 0 9%;
}

.container-table__detail {
  border: 1px solid #b7a5a5;
  width: 100%;
  font-size: 1.8rem;
  background-color: white;
}

table,
td,
th {
  border-bottom: 1px solid #333;
  border-collapse: collapse;
}

td,
th {
  padding: 10px;
}

.table-body {
  text-align: center;
}

.table-foot {
  text-align: end;
}

.pagination-wrap {
  position: absolute;
  top: 655px;
  left: 535px;
}

.pagination {
  display: flex;
}

.pagination-li {
  height: 31px;
}

.pagination a {
  font-size: 1.8rem;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.active {
  background-color: dodgerblue;
  color: white;
  border-radius: 50%;
}

.pagination a:hover:not(.active) {
  background-color: rgb(14, 226, 67);
  border-radius: 50%;
}

.direction {
  height: 35px;
  border: none;
}
