@media(max-width:415px) {
    .col-25 {
        display: none;
    }

    .container-table {
        display: none;
    }
   
    .heading {
        display: none;
    }
    
    .menu-responsive {
        top: 0;
        position: absolute;
        display: none;
        width: 130px;
        height: 896px;
        z-index: 1;
        background-color: white;
    }

    .heading-icon {
        margin-left: 38%;
        width: 27px;
        height: 27px;
        font-size: 1.8rem;
    }

    .icon-handle {
        top: 4px;
        left: 5px;
    }

    .heading-title {
        font-size: 1.2rem;
        margin-left: 28px;
        margin-top: 5px;
    }

    .menu-list {
        padding-left: 15px;
    }

    .col-75 {
        position: relative;
        width: 414px;
        height: 896px;
    }

    .container-handle {
        display: block;
        margin-top: 67px;
        margin-left: 0;
    }

    .container-handle__chart {
        margin: 0 22px 0 22px;
        width: 370px;
        height: 370px;
    }

    .container-handle__form {
        width: 370px;
        height: 310px;
        margin: 40px 22px;
    }

    .take-data {
        margin-left: 34px;
        width: 300px;
        margin-top: 40px;
    }

    .btn-device {
        margin-left: 125px;
    }

    .notice-validate {
        margin-left: 92px;
    }
    
    .menu-responsive__show {
        display: block;
        top: 20px;
        left: 22px;
        position: absolute;
        font-size: 2.2rem;
    }
}
